*{
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: none;
    color: black;
}
* p{
    margin: 0;
    line-height: 1.5rem;
}
dl{
    margin: 0;

}
.d1,.d2,.d3,.d4{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 0;
    font-size: 14px;
}
dl dt{
    width: 30%;
}
dl dd{
    width: 45%;
}
.top_title{
    animation-name: fadeInAnime;
    animation-duration:3s;
    animation-fill-mode:forwards;
    opacity: 0;
    margin-top: 40px;
}
@keyframes fadeInAnime{
    0% {
      opacity: 0;
    } 
    100% {
      opacity: 1;
    }
  }
.site-header__wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    position: fixed;
    height: 60px;
    padding: 10px 20px;
    color: black;
    background-color: white;
    opacity: 0.9;
}
.site-header__start{
    display: flex;
    align-items: center;
}
.brand {
    font-weight: bold;
    font-size: 20px; 
    padding-left: 10px;
}    
.site-header__middle{
    width: 80%;
    display: flex;    
    justify-content: end;
}
.nav__wrapper{
        display: flex;
        gap: 20px;
        justify-content: start;
 }   
.site-header__end{
    margin: 10px;
    width: 8%;
    text-align: center;
}

/* ハンバーガーメニューここから */
.open{
    display: none;
}
#open.hidden{
    display: none;
}

.hiddenmenu{
    width: 180px;
    height: 240px;
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 10px 10px 20px;
    display: none;
    pointer-events: auto;
}
#hiddenmenu.display{
    display: block;
}
/* ハンバーガーメニューここまで */

.close{
    position: absolute;
    top: 20px;
    right: 20px;
    transform: rotateZ(45deg);
}
@media screen and (max-width:700px) {
    .open{
        display: block;
    }
    .site-header__middle,.site-header__end{
        display: none;
    }
    * img{
        display: none;
    }
}

.btn--orange0,
a.btn--orange0 {
  color: #fff;
  background-color: rgb(74, 63, 114);
  box-shadow: 3px 3px 10px 1px #7a7676;
  font-size: 14px;
  padding: 0.3em 0.4em;
}
.btn--orange0:hover,
a.btn--orange0:hover {
  color: #fff;
  background: rgb(17, 5, 70);
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: rgb(74, 63, 114);
  box-shadow: 3px 3px 10px 1px #7a7676;
  font-size: 14px;
  padding: 0.5em 0.8em;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: rgb(17, 5, 70);
}
a.btn--radius {
    border-radius: 5%;
}
.page1{
    height: 50vh;
    width: 100%;
    margin: auto;
    background: linear-gradient(300deg, rgb(145, 145, 194), white)fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page1 p{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 1rem;
}
.page1 .top_titletext{
    font-size: 40px;
    margin: 0;
}
.title{
    font-size: 24px;
    padding-left: 10px;
}
.title:before{
    content: "■";
}
.firstcontents{
    height: 50vh;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    animation-name: fadeInAnime;
    animation-duration:3s;
    animation-fill-mode:forwards;
    opacity: 0;

}
.firsttext{
    margin: 0;
    text-align: center;
    font-size: 18px;
}
.first1{
    padding-top: 20px;
    padding-bottom: 30px;
}
.first3{
    padding-bottom: 30px;
}
.first5{
    padding-bottom: 40px;
}
.underpage{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.firstimages{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}
.firstimages img{
    width: 150px;
    height: 60px;
    box-shadow: 3px 3px 3px 1px #cac9c9;
}
.slider .slick-slide {
    margin: 5px 10px;/*スライド左右の余白調整*/
}
.servicecontents{
    margin: auto;
    display: flex;
    justify-content: center;
}

.servicecontents img{
    height: 300px;
    width: 450px;
}
.servicetext1{
    height: 300px;
    width: 450px;
    background: linear-gradient(200deg, rgb(207, 207, 241),white)fixed;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}
.servicetext1 h4{
    font-weight: bold;
}

.btn{
    margin: auto;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
.alert{
    color: rgb(39, 16, 59);
    font-weight: bold;
    text-align: center;
    opacity: 0;
}

.secondcontents{
    display: flex;
    justify-content: center;
}
.secondimg img{
    height: 60vh;
}
.secondtext{
    width: 450px;
    height: 60vh;
    background: linear-gradient(200deg, rgb(207, 207, 241),white)fixed;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page3,.page2,.page5{
    width: 100%;
    margin-bottom: 50px;
}
.fourthimg img{
    height: 150px;
    width: 200px;
}
.news1{
    height: 350px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.slider2 {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
    margin:0 auto;
 }
 
 /*slickのJSで書かれるタグ内、スライド左右の余白調整*/
 .slider2 .slick-slide {
    margin:0 10px;
 }

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
  margin: 10px 0 0 0;
}

.slick-dots li {
    display:inline-block;
    margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width: 2px;/*ドットボタンのサイズ*/
    height: 14px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}

.fourthtext{
    height: 150px;
    width: 200px;
    margin: 0;
    padding-top: 10px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 10px 1px rgb(133, 132, 132);
}
.fourthtext h5{
    margin-top: 10px;
    margin-bottom: 10px;
}
.access{
    margin: auto;
    width: 95%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(200deg, rgb(207, 207, 241),white)fixed;
    align-items: center;
}
.headtitle h4{
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn2 h5{
    color: rgb(83, 76, 76);
    margin: 0 0 5px 0;
}
.accessdetail{
    margin-top: 30px;
    width: 60%;
}
.page5{
    margin-top: 50px;
}
.page6 p{
    padding: 0 0 20px 20px;
}
.contactlist{
    margin: auto;
    padding-top: 20px;
    line-height: 3rem;
}
.contactlist td{
    width: 200px;
    vertical-align: top;
    border-width: 1px 0;
    border-color: rgb(192, 191, 191);
    border-style: solid;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
}
.motilist li{
    list-style: none;
    line-height: 1.8rem;
}
.othertext{
    line-height: 1.2rem;
    width: 250px;
    height: 5em;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.contactlist .td1{
    border-right:1px solid grey;
}
.errorcheck{
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: brown;
    visibility: hidden;
}
.errorcheck.active{
    visibility: visible;
}

.footer{
    margin-top: 20px;
    height: 60px;
    width: 100%;
    background: linear-gradient(300deg, rgb(145, 145, 194), white)fixed;
    display: flex;
    justify-content: center;
    vertical-align: center;
    border-top: 0.1px solid rgb(194, 192, 192);
}
.footer p{
    line-height: 1em;
    padding: 20px 0;
}